@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lora', 'sans-serif';
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin:1vh;
}
.container {
    display: flex;
    align-items: center;
    padding: auto;
    justify-content: space-between;
    width: 11rem;
}

.btn.options {
    background-color: #be9cf3;
    color:black;
    margin: 2px;
    
}

.btn {
    border-radius: 50%;
    font-size: 1.25vh;
    background-color: black;
    color:white;
    border: none;
    padding: 1.25vh;
    cursor: pointer;
}

.btn.download {
    background-color: white;
    color: black;
    font-size: 2.5vh;
}

.container.th {
    width: 100%;
}

table {
    width: 100%;
    border-bottom: 1px solid lightgrey;
}
  
th {
    color:purple;
}
  
td {
    padding: 10px;
    border-top: 1px solid lightgray;
}

tr {
    border-top: solid red;

}
tbody {
    border-bottom: 1px solid black;
}